#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.css-91z34k.egzxvld4 > div:nth-child(1) > div > div.css-ocqkz7.e1tzin5v4 > div:nth-child(2) > div:nth-child(1) > div > div > div{
    padding-top:42px;
    padding-left:32px;
}

.row-widget.stTextInput.css-ppvgx7.edfmue0{
    width: 383px;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.css-91z34k.egzxvld4 > div:nth-child(1) > div > div.css-ocqkz7.e1tzin5v4 > div:nth-child(1) > div:nth-child(1) > div > div > div > label > div > p{
font-size: 20px;
    color: red;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.css-91z34k.egzxvld4 > div:nth-child(1) > div > div:nth-child(4) > div{
    text-align:center;
    border: 2px solid gray;
    border-radius: 14px;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.css-91z34k.egzxvld4 > div:nth-child(1) > div > div:nth-child(4) > div > div:nth-child(3) > div > button > div > p{
font-size: 20px;
}

.css-1kyxreq{
justify-content: center;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.css-91z34k.egzxvld4 > div:nth-child(1) > div > div:nth-child(4) > div > div:nth-child(3) > div{
    padding-bottom:5px
}

#nome_vid {
font-size:25px
}
